// Typography
//
// ...
//
// .is-sans - sans serif @font-face {
// .is-mono - monospace font
//
// Styleguide: Base.Typography

.section,
.is-sans {
  font-family: $family-sans-serif;
  font-weight: 400;
}

.is-mono {
  font-family: $family-monospace;
}


// Title
//
// Styleguide: Base.Typography.Title

.title,
.content .title {
  font-weight: 700;
  color: $dark;
}

.title.is-1 {
  font-size: $size-1;
  line-height: 1.07em;
}

.title.is-2 {
  font-size: $size-2;
  line-height: 1.14em;
}

.title.is-3 {
  font-size: $size-3;
  line-height: 1.2em;
}

.title.is-4 {
  font-size: $size-4;
  line-height: 1.43em;
}

.title.is-5 {
  font-size: $size-5;
  line-height: 1.2em;
}

.title.is-6 {
  font-size: $size-6;
  line-height: 1.43em;
}

.title.is-7 {
  font-size: $size-7;
  line-height: 1.2em;
}


// Headings
//
// Styleguide: Base.Typography.Headings

.content {
  h1 {
    &:not(:first-child) {
      margin-top: 1em;
    }
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 700;
  }
  h2 {
    &:not(:first-child) {
      margin-top: 1.1428em;
    }
    margin-bottom: 0.5714em;
    font-size: 1.75em;
    font-weight: 700;
  }
  h3 {
    &:not(:first-child) {
      margin-top: 1.3333em;
    }
    margin-bottom: 0.6666em;
    font-size: 1.5em;
    font-weight: 700;
  }
  h4 {
    margin-bottom: 0.8em;
    font-size: 1.25em;
    font-weight: 700;
  }
  h5 {
    margin-bottom: 0.8888em;
    font-size: 1.125em;
    font-weight: 700;
  }
  h6 {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 700;
  }
}

// Tags ("More about")

.more-about-label,
.more-about-label:not(:last-child) {
  margin-bottom: 0.666rem;
}


// Paragraph
//
// Styleguide: Base.Typography.Paragraph


// Blockquote
//
// Styleguide: Base.Typography.Blockquote


// Ordered List
//
// Styleguide: Base.Typography.OrderedList


// Unordered List
//
// Styleguide: Base.Typography.UnorderedList


// Definition List
//
// Styleguide: Base.Typography.DefinitionList


// Link
//
// Styleguide: Base.Typography.Link


// Table
//
// Styleguide: Base.Typography.Table


// Horizontal Rule
//
// Styleguide: Base.Typography.HorizontalRule
