// Figures and Images
//
// ...
//
// Weight: 2
//
// Styleguide: Base.Figure

.content .image {
  margin: 0;
  padding: 0;
}

.image img {
  width: 100%;
  height: auto;
}

.image figcaption {
  margin-top: 1em;
  font-family: $family-monospace;
  font-size: $size-6;
  line-height: 1.2em;
  text-align: left;
  color: $dark;
}

.license img {
  float: left;
  margin-right: 10px;
}

/* Give inline centered images the same spacing as paragraphs. */
.align-center {
  margin-bottom: 1em;
}
