// Blockquote
//
// Intended for use on node pages such as blog posts and case studies.
//
// Styleguide: Base.Blockquote

.content blockquote {
  color: currentColor;
  //
  * {
    color: currentColor;
  }
  //
  cite {
    display: block;
    font-style: normal;
    font-weight: 700;
    //
    &::before {
      content: "\2014 ";
    }
  }
}
