// Form
//
// Extends Bulma Form classes.
//
// Styleguide: Base.Form

.label {
  color: currentColor;
}

.is-dark {
  .select {
    select {
      border-color: $dark;
      color: $white;
      background-color: $dark;
    }
    &:not(.is-multiple)::after {
      border-color: currentColor;
    }
  }
}

.form-item {
  margin-bottom: .6rem;
}

.content p.form-label,
.form-label {
  margin-top: 1rem;
  margin-bottom: .6rem;
}

// Webforms

.webform-form,
.webform-submission-form {
  border-left: 4px solid $blue-dark;
  border-right: 4px solid $blue-dark;
  margin: .1rem 1.5rem .1rem 1.5rem;
  padding: 0 1.5rem;
  @include widescreen {
    margin: .5rem 6rem .5rem 6rem;
    padding: 0 6rem;
  }
}
