// Tabs
//
// Extends Bulma Tabs component.
//
// Styleguide: Component.Tabs

.tabs {}

.hero.is-dark,
.is-dark {
  .tabs {
    a {
      color: $blue-light;
    }
    //
    .is-active a,
    a:hover {
      color: $white;
    }
  }
}

// Ridiculously bad hack just to keep the full-saturation title sections
// pristine.

.floating-tabs {
  position: absolute;
  left: 0.75rem;
  z-index: 505;
  background: rgba($white, 0.75);
  // Top matches .is-fixed next sibling padding from _component.navbar.scss.
  top: 3.3125em;
  @include desktop {
    top: 5.875em;
  }
}

.toolbar-tray-open.toolbar-horizontal {
  .floating-tabs {
    @include desktop {
      top: 9.875em;
    }
  }
}
