// Agaricons
//
// Extends Bulma icon classes.
//
// Styleguide: Component.Agaricons

$agaricon-path: 'fonts' !default;
@font-face {
  font-family: 'Agaricons';
  src: url("#{$agaricon-path}/agariccons.eot");
  src: url("#{$agaricon-path}/agariccons.woff2") format('woff2'), url("#{$agaricon-path}/agariccons.woff") format('woff'), url("#{$agaricon-path}/agariccons.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}

.agc {
  display: inline-block;
  font-family: Agaricons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.agc-logo::before {
  content: "\e000";
}

.agc-video::before {
  content: "\e001";
}

.agc-photo::before {
  content: "\e002";
}

.agc-print::before {
  content: "\e003";
}

.agc-locked::before {
  content: "\e004";
}

.agc-search::before {
  content: "\e005";
}

.agc-zoom-in::before {
  content: "\e006";
}

.agc-zoom-out::before {
  content: "\e007";
}

.agc-help::before {
  content: "\e008";
}

.agc-alert::before {
  content: "\e009";
}

.agc-gear-1::before {
  content: "\e00A";
}

.agc-gear-2::before {
  content: "\e00B";
}

.agc-cloud-1::before {
  content: "\e00C";
}

.agc-cloud-2::before {
  content: "\e00D";
}

.agc-chart-up::before {
  content: "\e00E";
}

.agc-target-1::before {
  content: "\e00F";
}

.agc-target-2::before {
  content: "\e010";
}

.agc-at::before {
  content: "\e011";
}

.agc-hash::before {
  content: "\e012";
}

.agc-quote-1::before {
  content: "\e013";
}

.agc-quote-2::before {
  content: "\e014";
}

.agc-mail::before {
  content: "\e015";
}

.agc-rss::before {
  content: "\e016";
}

.agc-youtube::before {
  content: "\e017";
}

.agc-check::before {
  content: "\e018";
}

.agc-alarm::before {
  content: "\e019";
}

.agc-clock::before {
  content: "\e01A";
}

.agc-x::before {
  content: "\e01B";
}

.agc-plus::before {
  content: "\e01C";
}

.agc-crossbar::before {
  content: "\e01D";
}

.agc-xbar::before {
  content: "\e01E";
}

.agc-document::before {
  content: "\e01F";
}

.agc-server::before {
  content: "\e020";
}

.agc-phone::before {
  content: "\e021";
}

.agc-python::before {
  content: "\e022";
}

.agc-facebook::before {
  content: "\e023";
}

.agc-twitter::before {
  content: "\e024";
}

.agc-happy::before {
  content: "\e025";
}

.agc-sad::before {
  content: "\e026";
}

.agc-coop::before {
  content: "\e027";
}

.agc-d8::before {
  content: "\e028";
}

.agc-drop-1::before {
  content: "\e029";
}

.agc-drop-2::before {
  content: "\e02A";
}

.agc-arcade-1::before {
  content: "\e02B";
}

.agc-arcade-2::before {
  content: "\e02C";
}

.agc-arcade-3::before {
  content: "\e02D";
}

.agc-arcade-4::before {
  content: "\e02E";
}

.agc-arcade-5::before {
  content: "\e02F";
}

.agc-arcade-6::before {
  content: "\e030";
}

.agc-mushroom::before {
  content: "\e031";
}

/* Extra styling for Ionicons */

ion-icon {
  vertical-align: text-bottom;
}
