// Fixes https://github.com/jgthms/bulma/issues/1708
code .tag, code .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

// Try to undo what presumably prism styling is doing to our in-text code:
code {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  padding: 0.2em 0.25em;
}
