// Related
//
// Block of three related items.
//
// Styleguide: Component.Related

.related {
  padding-top: 0;
  .media {
    .media-left {
      max-width: 9em;
    }
  }
}

.hero + .section.related {
  margin-top: -3rem;
  .titlebar-bigborder {
    border-top: 0;
  }
}

.section.related .title.is-5 {
  font-size: 1.1rem;
  line-height: 1.25em;
  font-weight: normal; // TODO just remove the '.title' instead.
}
