// Columns
//
// Extends Bulma Columns
//
// .is-equal-height - equal height child lements
// .is-centered-vert - vertical center child content
//
// Styleguide: Layout.Columns

.is-equal-height .column {
  display: flex;
}

.is-centered-vert {
  align-items: center;
}
