{#
/**
 * @file
 * Default theme implementation for an unformatted view display.
 *
 * If the display is configured to use Display Suite's alternating view modes,
 * column classes are added appropriate to the view modes.
 *
 * @see http://bulma.io/documentation/columns/basics
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 * @ingroup themeable
 */
#}
{#
  View rows can be configured to have default classes per view mode. A child
  template may define view_modes, which will be merged with the
  default_view_modes below.
#}
<div class="media-list">
{% for row in rows %}
  {{ row.content }}
{% endfor %}
</div>
