{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<article{{ attributes.addClass(classes) }}">

{% set title_paragraph_index = null %}
{% set has_title_paragraph = false %}
{% if content.field_body_paragraph %}
  {% for i, paragraph in content.field_body_paragraph %}
    {% if i|first != '#' and content.field_body_paragraph['#items'][i].entity.type.0.entity.id == 'title' %}
      {% set has_title_paragraph = true %}
      {% set title_paragraph_index = i %}
      {{ paragraph }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if not has_title_paragraph %}
  {% set headerbg = 'light' %}
  {% set title_classes = [ 'hero', 'hero-' ~ node.bundle|replace({"_": "-"}) ] %}
  {% if node.bundle != 'blog' %}
    {% set title_classes = title_classes|merge(['is-dark']) %}
    {% set headerbg = 'dark' %}
  {% endif %}
  {# Header hero region #}
  <section{{ create_attribute().addClass(title_classes) }} data-headerbg="{{ headerbg }}">
    <div class="hero-body">
      <div class="container">
        <div class="titlebar">
          <div class="titlebar_title">
            <h1 class="title is-2 p-name">{{ label }}</h1>
          </div>
          {% if secondary_menu|render %}
          <div class="titlebar_links">
            {{ secondary_menu }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% if content.field_authors is not empty %}
  <div class="container">
    <p class="byline is-mono">{{ content.field_authors }}</p>
    <p class="byline is-mono">Posted on <time class="dt-published" datetime="{{ iso_datetime }}">{{ date }}</time></p>
  </div>
{% endif %}

<div class="e-content">

{% set bust_out = false %}
{% set walls_up = false %}

{% if content.field_body_paragraph %}
  {% for i, paragraph in content.field_body_paragraph %}
    {% if i|first != '#' and i is not same as(title_paragraph_index) %}
      {% if paragraph['#paragraph'].field_style_escape_flow.value is not empty %}
        {% set bust_out = paragraph['#paragraph'].field_style_escape_flow.value %}
      {% endif %}
      {% if walls_up == false and bust_out == false %}
        {# We need to be in the flow but the lugeslide walls aren't up yet #}
<section class="section" data-headerbg="light">
  <div class="container">
    <div class="flow content">
        {% set walls_up = true %}
      {% elseif bust_out == true and walls_up == true %}
        {# We need to take the content flow sides down before our paragraph #}
    </div>
  </div>
</section>
        {% set walls_up = false %}
      {% endif %}
      {{ paragraph }}
    {% endif %}
  {% endfor %}
{% endif %}


{% if walls_up == true %}
  {# If the flow sides are still up after all is said and done, close 'em up. #}
    </div>
  </div>
</section>
{% endif %}
</div>{# end e-content div #}

{% if node.bundle not in ['page', 'landing_page'] %}
<section class="section">
  <div class="container">
    <div class="flow content">
      <div class="flow_middle sharing">
        <a href="{{ url }}" class="u-url" rel="bookmark" aria-label="Permalink" title="Permalink"><ion-icon name="link">Permalink</ion-icon></a>
      </div>

      {% if content.field_tags is not empty %}
        {{ content.field_tags }}
      {% endif %}
    </div>
    {{content.indieweb_syndication}}
  </div>
</section>
{% endif %}
</article>{# end h-entry article #}

<!-- Unexpected extra content -->
{{ content|without('field_body_paragraph', 'field_authors', 'field_tags', 'uid', 'created', 'comment', 'indieweb_syndication') }}

{% if content.comment %}
  {{ content.comment }}
{% endif %}
