{%
  set classes = [
    'columns',
    'is-multiline',
  ]
%}
{% set attributes = attributes.addClass(classes) %}

{% if content %}
  <div{{ attributes }}>
    <div class="column footer-logo is-half">
        <a href="#" title="Back to top" aria-label="Back to top"><span class="icon"><i class="agc agc-logo"></i></span></a>
      </div>
      <div class="column">
        {{ language_switcher_link }}
        {#{{ language_switcher }}#}
      </div>
      <div class="column">
        Agaric LLC<br>Boston, MA 02134
      </div>
      <div class="column">
        S: <a href="https://social.coop/@agaric" rel="me">Mastodon</a>
        <a href="https://twitter.com/agaric" rel="me">Twitter</a>
        <a href="/rss">RSS</a><br>
        T: +1 508 283 3557<br>
        E: <a href="/contact">Contact</a>
      </div>
      <div class="column">
        Powered by <a href="https://www.drutopia.org/">Drutopia</a>
      </div>
      <div class="column">
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
{% endif %}
