{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <section class="section related">
    <div class="container">
      <div class="titlebar titlebar-bigborder content">
        <div class="titlebar_title">
          <h3 class="subtitle is-4 is-mono">Just one more thing...</h3>
        </div>
      </div>
      <div class="columns">
        {{ content }}
      </div>
    </div>
  </section>
{% endif %}
