{% extends "@bulma/block/block--system-menu-block.html.twig" %}

{%
  set classes = [
    'navbar-end',
  ]
%}

{% set attributes = attributes.addClass(classes) %}
{% block content %}
  {{ language }}
  {{ content }}
{% endblock %}
