{# See "@stable/block/block.html.twig" #}
{%
  set classes = [
    'hero',
    'is-light',
  ]
%}
{% set attributes = attributes.addClass(classes).setAttribute('data-headerbg', 'light') %}
<section{{ attributes }}>
  <div class="hero-body subtitle is-mono is-4 container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
