{# See "@stable/block/block.html.twig" #}
{# TODO probably let this go back to inheriting from Octavia/Bulma,
   or include a pattern. #}
<div {{ attributes }}>
{% block content %}
  {{ content }}
{% endblock %}
</div>
