{# For available variables see paragraph.html.twig #}

{%
  set section_classes = [
    'section',
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% if paragraph.field_style_escape_flow == true %}
  {% set section_attributes = create_attribute().addClass(section_classes).setAttribute('data-headerbg', 'light') %}
  <section {{ section_attributes }}>
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}

{% if paragraph.field_style_escape_flow.value == true %}
  </section>
{% endif %}
