{% if url %}
<a href="{{ url }}" class="media teaser">
{% else %}
<div class="media teaser">
{% endif %}
  <div class="media-left">
    {{ image }}
  </div>
  <div class="media-content content">
    {{ text }}
  </div>
{% if url %}
</a>
{% else %}
</div>
{% endif %}
