<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ options.title }}</title>
<meta name="description" content="">
<meta name="generator" content="kss-node">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="./kss-assets/kss.css">
{{ styles|raw }}
</head>
<body id="kss-node" {% if template.isItem %}class="kss-fullscreen-mode"{% endif %}>

{% include "sidebar.twig" %}

<!-- kss-main -->
<div class="kss-main-wrap">
    <article role="main" class="kss-main kss-homepage content">
      {{ homepage|raw }}
    </article>
</div>

{{ scripts|raw }}
<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>
