{{ label }}
  <p class="pattern-field-detail">
    <label{{ title_attributes }}>{{ label }}</label>
    {% for item in items %}
      <strong>{{ item.content }}</strong>
    {% endfor %}
  </p>
{{ value }}
