<div class='carousel'>
  <figure class="image">
    <img src="../assets/img/fpo-fic-home.png" alt="">
    <figcaption>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>
  <figure class="image">
    <img src="../assets/img/fpo-fic-map.png" alt="">
    <figcaption>
      Ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>
  <figure class="image">
    <img src="../assets/img/fpo-fic-page.png" alt="">
    <figcaption>
      Dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>
  <figure class="image">
    <img src="../assets/img/fpo-fic-home.png" alt="">
    <figcaption>
      Sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>
  <figure class="image">
    <img src="../assets/img/fpo-fic-map.png" alt="">
    <figcaption>
      Ipsum dolor sit amet, consectetur adipisicing elit.
    </figcaption>
  </figure>
  <figure class="image">
    <img src="../assets/img/fpo-fic-page.png" alt="">
    <figcaption>
      Consectetur adipisicing elit.
    </figcaption>
  </figure>
</div>
