<section class="section related" data-headerbg="light">
  <div class="container">
    <div class="titlebar titlebar-bigborder content">
      <div class="titlebar_title">
        <h3 class="subtitle is-mono is-4">Comments</h3>
      </div>
      <div class="titlebar_links">
        <a href="#">Add new comment</a>
      </div>
    </div>
    <div class="content">
      <div class="media media-comment">
        <div class="media-left">
          <p>
            12/31/2017<br> 23:26
            <br> Brian Perry</p>
        </div>
        <div class="media-content">
          <h3 class="title is-5">Enjoyed The Recap</h3>
          <p>We had a good Nintendo chat at Drupal Camp Twin Cities. Did you get a chance to play the new Zelda or Mario games? If not, I hope that is part of your 2018 :)</p>
          <p><a href="#">Reply</a></p>
          <div class="media media-comment">
            <div class="media-left">
              <p>
                12/31/2017<br> 23:26
                <br> Brian Perry</p>
            </div>
            <div class="media-content">
              <h3 class="title is-5">Lorem ipsum dolor.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit exercitationem provident quos, aut reprehenderit animi repellendus accusamus odio nisi? Quaerat doloremque nostrum cupiditate fuga quam, sit, sint harum ab excepturi.</p>
              <p><a href="#">Reply</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="media media-comment">
        <div class="media-left">
          <p>
            12/31/2017<br> 23:26
            <br> Brian Perry</p>
        </div>
        <div class="media-content">
          <h3 class="title is-5">Lorem ipsum dolor sit amet.</h3>
          <p>Consectetur adipisicing elit. Quasi vel tempore error dicta labore nam repellat, facilis animi accusamus molestias aspernatur, modi, deleniti cupiditate ullam, similique mollitia blanditiis numquam magni.</p>
          <p><a href="#">Reply</a></p>
        </div>
      </div>
      <div class="media media-comment">
        <div class="media-left">
          <p>
            12/31/2017<br> 23:26
            <br> Brian Perry</p>
        </div>
        <div class="media-content">
          <h3 class="title is-5">Dolor sit amet, consectetur</h3>
          <p>Sit amet, consectetur adipisicing elit. Cupiditate placeat perferendis totam optio quis laudantium, distinctio voluptas beatae hic temporibus error quibusdam, in at illo eligendi incidunt. Nostrum, nihil eum.</p>
          <p><a href="#">Reply</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
