<!doctype html>
<html lang="en-US">
<head>
<title>{{title}} | {{site.title}}</title>
<link rel="stylesheet" href="../../agaric/css/agaric.css">
</head>
<body>

{{> header }}

{{#block "precontent"}}
{{/block}}

<section class="section" data-headerbg="light">
  <div class="container">
    {{#block "content"}}
      content default.
    {{/block}}
  </div>
</section>

{{#block "postcontent"}}
{{/block}}

{{> footer }}

{{!-- Temp links to navigate the design samples --}}
<div class="section hero is-dark" data-headerbg="light">
  <div class="container">
    Design links:
    <a href="index.html">Home</a> |
    <a href="work.html">Work</a> |
    <a href="case_study.html">Case Study</a> |
    <a href="initiatives.html">Initiatives</a> |
    <a href="initiatives_initiative.html">Initiative</a> |
    <a href="about_team.html">Team</a> |
    <a href="about_team_member.html">Person</a> |
    <a href="about_events.html">Events</a> |
    <a href="about_events_event.html">Event</a> |
    <a href="insights.html">Insights</a> |
    <a href="insights_insight.html">Insight</a> |
    <a href="post.html">Post</a> |
    <a href="bulma.html">Bulma Elements</a> |
    &amp; <a href="../../styleguide/index.html">Styleguide</a>
  </div>
</div>

<script src="../../agaric/js/jquery-3.2.1.min.js"></script>
<script src="../../agaric/js/ScrollMagic.min.js"></script>
<script src="../../agaric/js/slick.min.js"></script>
<script src="../../agaric/js/script.js"></script>
</body>
</html>
