<footer class="footer" data-headerbg="light">
  <div class="container">
    <div class="columns">
      <div class="column footer-logo is-half">
        <a href="#"><span class="icon"><i class="agc agc-logo"></i></span></a>
      </div>
      <div class="column">
        Agaric, LLC 288 Norfolk Street Cambridge, MA 02139
      </div>
      <div class="column">
        S: <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">RSS</a><br>
        T: <a href="#">+1 508 283 3557</a><br>
        E: <a href="#">Contact</a>
      </div>
      <div class="column">
        Powered by <a href="#">Drupal</a>
      </div>
    </div>
  </div>
</footer>
