<section class="section related" data-headerbg="light">
  <div class="container">
    <div class="titlebar titlebar-bigborder content">
      <div class="titlebar_title">
        <h3 class="subtitle is-mono is-4">Upcoming Events</h3>
      </div>
      <div class="titlebar_links">
        <a href="#">More</a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a href="#" class="teaser">
          <p class="title is-4">Oct 4 2017</p>
          <p class="title is-5">Lorem ipsum dolor sit amet</p>
          <p class="subtitle is-6">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </a>
      </div>
      <div class="column">
        <a href="#" class="teaser">
          <p class="title is-4">Oct 4 2017</p>
          <p class="title is-5">Lorem ipsum dolor sit amet</p>
          <p class="subtitle is-6">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </a>
      </div>
      <div class="column">
        <a href="#" class="teaser">
          <p class="title is-4">Oct 4 2017</p>
          <p class="title is-5">Lorem ipsum dolor sit amet</p>
          <p class="subtitle is-6">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </a>
      </div>
    </div>
  </div>
</section>
