<section class="section related">
  <div class="container">
    <div class="titlebar titlebar-bigborder content">
      <div class="titlebar_title">
        <h3 class="subtitle is-4 is-mono">Show and Tell</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a href="#" class="media teaser">
          <div class="media-left">
            <img src="../assets/img/fpo-definitive-guide.png" alt="">
          </div>
          <div class="media-content">
            <p class="title is-5 is-spaced">Definitive Drupal</p>
            <p class="subtitle is-6">Ben Melanon and Stefan Freudenberg are among the authors of the Definitive Guide to Drupal 7, the leading book covering Drupal configuration, code, and community.</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="media teaser">
          <div class="media-left">
            <img src="../assets/img/fpo-coop-book.png" alt="">
          </div>
          <div class="media-content">
            <p class="title is-5 is-spaced">Platform Cooperativism Handbook</p>
            <p class="subtitle is-6">Micky Metts contributed a chapter to Ours to Hack and to Own: The Rise of Platform Cooperativism</p>
          </div>
        </a>
      </div>
      <div class="column">
        <p class="title is-5 is-spaced">Want to see more?</p>
        <p class="subtitle is-6">We value learning new things and sharing our knowledge, so we take time each week to share with one another what we've discovered or figured out. <a href="#">Join us on Fridays for Show and Tell</a>.</p>
      </div>
    </div>
  </div>
</section>
