---
title: "Team Member"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero hero-person is-blue">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-mauricio.jpg" alt="">
          <h1 class="title">Mauricio Dinarte</h1>
        </div>
        <div class="hero-body">
          <h2 class="subtitle">Principal/Drupal Developer</h2>
          <p>Mauricio ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </section>
    {{> recent_posts }}
    {{> related_events }}
    {{> recent_projects }}
    {{> recent_initiatives }}
  {{/content}}
  {{#content "content"}}{{/content}}
{{/extend}}
