---
title: "Case Study"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero hero-project is-cinnamon">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-findit-cinnamon.jpg" alt="">
        </div>
        <div class="hero-body">
          <h1 class="title">Find it Cambridge</h1>
          <h2 class="subtitle">Connecting families, youth, and caregivers with much needed resources</h2>
        </div>
      </div>
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="flow content">
      <div class="flow_middle">
        <p class="subtitle is-mono">Introduction ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <h4>The Challenge</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi.</p>
        <h4>Approach</h4>
        <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat.</p>
      </div>
      <div class="flow_breakout hero is-light">
        {{>carousel}}
      </div>
      <div class="flow_middle">
        <h4>Results</h4>
        <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
      <div class="flow_full">
        <div class="titlebar titlebar-bigborder content">
          <div class="titlebar_title">
            <h3 class="subtitle is-mono is-4">Project Details</h3>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p><b>Client:</b> City of Cambridge</p>
            <p><b>Year:</b> 2016</p>
            <p><b>Status:</b> Live (finditcambridge.org)</p>
          </div>
          <div class="column">
            <p><b>Technologies:</b> Drupal, Python</p>
            <p><b>Services:</b> Strategic consulting, design, prototyping, user testing, implementaiton, content migration</p>
          </div>
          <div class="column">
            <p><b>Team:</b> Mauricio Dinarte, Ben Melanon, Micky Metts</p>
            <p><b>Partners:</b> Code for Boston, Terravoz, TLDA</p>
          </div>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{> recent_updates }}
  {{/content}}
{{/extend}}
