---
title: "Initiative"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero hero-initiative is-marine">
      <div class="container">
        <div class="hero-image">
          <img src="../assets/img/fpo-worm-2.jpg" alt="">
        </div>
        <div class="hero-body">
          <h1 class="title">Platform Cooperative</h1>
          <p class="subtitle">A new vision for the future of work of work and a fairer internet</p>
        </div>
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="flow content">
      <div class="flow_middle">
        <p class="subtitle is-mono is-4">Introduction ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <h4>The Challenge</h4>
        <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat.</p>
        <h4>Our Involvement</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
          ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
          delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
      <div class="flow_full">
        <div class="columns is-centered-vert">
          <div class="column">
            <blockquote class="is-marine">
              <p class="subtitle is-4">Its a cooperative effort. Its a family structure. If someone else is not doing well its going to affect me so I want to help them. We have a whole network of people there to help and share the challenges.</p>
              <cite>Micky Metts</cite>
            </blockquote>
          </div>
          <div class="column">
            <img src="../assets/img/fpo-micky-presentation.png" alt="">
          </div>
        </div>
      </div>
      <div class="flow_middle">
        <ul class="icon-list icon-list-cols">
          <li class="agc-coop is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          </li>
          <li class="agc-target-1 is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
          </li>
          <li class="agc-target-1 is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
          </li>
          <li class="agc-photo is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
          </li>
          <li class="agc-photo is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
          </li>
          <li class="agc-photo is-marine">
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </h4>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
          </li>
        </ul>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{> related_events }}
    {{> recent_updates }}
  {{/content}}
{{/extend}}
