---
title: "Initiatives"
---


{{#extend "default"}}
  {{#content "precontent"}}
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="titlebar">
            <div class="titlebar_title">
              <h1 class="title is-2">Initiatives</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/content}}
  {{#content "content"}}
    <div class="titlebar titlebar-padded">
      <div class="columns content">
        <div class="column">
          <h2 class="subtitle is-3">Free Culture</h2>
        </div>
        <div class="column is-two-thirds">
          <p class="subtitle is-mono">Sed dictum porttitor risus. Donec vel enim feugiat, sagittis urna vel, hendrerit arcu. Duis feugiat, augue quis aliquam malesuada, nisi felis finibus arcu, nec sagittis lorem massa vel sem.</p>
        </div>
      </div>
    </div>
    <div class="columns is-equal-height is-multiline">
      <div class="column">
        <a href="#" class="card card-initiative is-dandelion">
          <div class="card-image" style="background-image:url(../assets/img/fpo-5-hands.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Platform Cooperative</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mentor-laptop.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Tech Mentoring</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-education.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Free Education</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="titlebar titlebar-bigborder titlebar-padded">
      <div class="columns content">
        <div class="column">
          <h2 class="subtitle is-3">Free Software</h2>
        </div>
        <div class="column is-two-thirds">
          <p class="subtitle is-mono">Praesent in hendrerit magna. Fusce eleifend turpis a nibh eleifend euismod. Donec mi justo, blandit ut quam id, egestas interdum orci. </p>
        </div>
      </div>
    </div>
    <div class="columns is-equal-height is-multiline">
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-berry">
          <div class="card-image" style="background-image:url(../assets/img/fpo-stretch.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Drupal Training</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-dandelion">
          <div class="card-image" style="background-image:url(../assets/img/fpo-5-hands.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Drutopia</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mentor-laptop.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Agaric Open Data</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-cinnamon">
          <div class="card-image" style="background-image:url(../assets/img/fpo-education.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Online Security</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-blue">
          <div class="card-image" style="background-image:url(../assets/img/fpo-mentor-laptop.jpg)">
          </div>
          <div class="card-content">
            <p class="title">May&nbsp;Frist / People&nbsp;Link</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="#" class="card card-initiative is-dandelion">
          <div class="card-image" style="background-image:url(../assets/img/fpo-5-hands.jpg)">
          </div>
          <div class="card-content">
            <p class="title">Drupal 8 Migration</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit xanim id est laborum.</p>
          </div>
        </a>
      </div>
    </div>
  {{/content}}
{{/extend}}
