---
title: "Post"
---


{{#extend "default"}}
  {{#content "precontent"}}
  <section class="hero" data-headerbg="light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-2">dinarcon&#039;s 2017 Drupal tour&nbsp;recap</h1>
        <p class="byline is-mono">Submitted by <a href="#">Mauricio Dinarte</a> on <time datetime="2017-12-31 11:00:01">Sun, Dec 31, 2017</time></p>
      </div>
    </div>
  </section>
  {{/content}}
  {{#content "content"}}
    <div class="content">
      <div class="columns content">
        <div class="column is-one-third">
          <img src="../assets/img/fpo-nametags.jpg" alt="name tags">
        </div>
        <div class="column is-two-thirds">
          <p>2017 was an amazing year for me. I met so many people, attended lots of events, presented a good amount of sessions and trainings, and travelled like never before. I got to interact with the Drupal community in many ways. And I learned so much, both technical and life lessons. Let me share a summary of my year.</p>
          <p>To make the text compact I will use some abbreviations in the text. DC for DrupalCamp and GTD for Global Training Days. Meetups refers to local user groups meetings.</p>
          <h2>Events per month</h2>
          <ul>
              <li>January: No event.</li>
              <li>February: Boston meetup, <a href="#">New Jersey</a>, <a href="#">Florida DC</a>, and <a href="#">Northern Lights DC</a>.</li>
              <li>March: <a href="#">DC London</a>, GTD Managua, <a href="#">NERD Summit</a>, <a href="#">DevDays Seville</a>, and <a href="#">MidCamp</a>.</li>
              <li>April: Boston meetup and <a href="#">DrupalCon Baltimore</a>.</li>
              <li>May: Managua meetup and <a href="#">WordCamp Managua</a>.</li>
          <li>June: <a href="#">Texas DC</a>, Boston meetup, GTD Managua, <a href="#">ECWD</a>, and <a href="#">Twin Cities DC</a>.</li>
          <li>July: No event.</li>
          <li>August: <a href="#">DC Costa Rica</a> and Managua meetup.</li>
          <li>September: <a href="#">Synergy Camp</a>, <a href="#">DC Antwerp</a>, GTD Frankfurt, GTD Managua, and <a href="#">DrupalCon Vienna</a>.</li>
          <li>October: Madrid meetup, London meetup, and <a href="#">BADCamp</a>.</li>
          <li>November: Managua meetup and <a href="#">Lakes and Volcanoes DC</a>.</li>
          <li>December: GTD Leon, GTD Managua, and Managua meetup.</li>
          </ul>
          <p><strong>This translates to:</strong></p>
          <ul>
              <li>18 conferences</li>
              <li>9 meetups</li>
              <li>12 DrupalCamps</li>
              <li>2 DrupalCons</li>
              <li>1 Drupal DevDays</li>
              <li>12 sessions presented</li>
              <li>4 trainings presented</li>
              <li>6 GTD workshop presented</li>
          </ul>
          <h2>Highlights this year</h2>
          <ul>
              <li>Made it into <a href="#">MAINTAINERS.txt</a> as part of the Core mentoring coordinators team.</li>
              <li>Served as part of the <a href="#">Global Training Days</a> community working group.</li>
              <li>Presented a <a href="#">session at DrupalCon</a>.</li>
              <li>Was invited to be a <a href="#">DrupalCon track chair</a>.</li>
              <li>People I mentored at DrupalCon <a href="#">got their patches committed</a>. Thanks to <a href="#">Jess (xjm)</a>, <a href="#">Ted Bowman</a>, and other contributors for following up.</li>
          </ul>
          <h2>Thank you all</h2>
          <p>Thanks to my colleagues at <a href="#">Agaric</a> for their support during my Drupal tour.</p>
          <p>Thanks to all the event organizers who gave me the opportunity to speak at their events. And thanks to all the people who gave feedback of my sessions, trainings, and workshops.</p>
          <p>Thanks to <a href="#">Baddý Breidert</a>, <a href="#">Hilmar Hallbjörnsson</a>, and all the team who organized Northern Lights DrupalCamp. They went above and beyond to pull out an event against unfavorable conditions. The night before the sessions fell a <a href="#">record breaking amount of snow</a>. The organizers went to pick people up from around Reykjavik and accommodated the schedule nicely. I was trapped in a bus stops, with snow above my knees, when Hilmar and <a href="#">Christoph Breidert</a> <s>picked me up</s> saved me and took me to the venue. On top of everything, the organizers took everyone on free tours around beautiful Iceland. It was amazing!</p>
          <p>Thanks to all the people and organizations who set up different events where I could present during my European tour. <a href="#">Cristina Chumillas</a> (Barcelona), Baddý and Christoph of <a href="#">1xINTERNET</a> (Frankfurt), <a href="#">Valery Lourie</a> and the SynergyCamp team (Sofia), <a href="#">Sven Decabooter</a> and the DC Antwerp team (Antwerp), <a href="#">Ignacio Sánchez</a> (Madrid), and <a href="#">Chandeep Khosa</a> and <a href="#">Gabriele (gambry)</a> (London).</p>
          <p>Thanks to those who hosted me during my European tour. Baddý and Christoph of 1xINTERNET in Frankfurt, my colleague <a href="#">Stefan Freudenberg</a> in Hamburg, and <a href="#">Rodrigo Aguilera</a> in Barcelona. They opened the doors to their homes and their families during my stay. I will always be grateful.</p>
          <p>Thanks to <a href="#">Anna Mykhailova</a> for co-presenting a training with me at BADCamp.</p>
          <p>Thanks to the awesome organizing team of Lakes and Volcanoes DC. In particular to <a href="#">Lucas Hedding</a> who has helped the Nicaraguan Drupal community in countless ways.</p>
          <p>Thanks to the <a href="#">Boston Drupal user group</a> for making me feel at home every time I visit.</p>
          <p>Thanks to <strong>ALL</strong> the people I talked to during the 2017 Drupal tour. The Drupal community is super friendly and welcoming. It is so great to be part of it.</p>
          <p>Thanks for a fantastic 2017! See you in 2018! :D</p>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "postcontent"}}
    {{> comments }}
  {{/content}}
{{/extend}}
