{#
/**
 * @file
 * Default theme implementation to display a pargraph section.
 *
 * It extracts the title paragraph, if any, from a body paragraphs listing.
 *
 * @ingroup themeable
 */
#}


{% set title_paragraph_index = null %}
{% set has_title_paragraph = false %}
{% if paragraphs.field_body_paragraph %}
  {% for i, paragraph in paragraphs.field_body_paragraph %}
    {% if i|first != '#' and paragraphs.field_body_paragraph['#items'][i].entity.type.0.entity.id == 'title' %}
      {% set has_title_paragraph = true %}
      {% set title_paragraph_index = i %}
      <div class="column is-one-third">
        {{ paragraph }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if not has_title_paragraph %}
  <!-- This content (node/{{ paragraphs.field_body_paragraph['#object'].id }})
       not shown because it does not have a title paragraph. -->
{% endif %}

